@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
:root {
  height: 100%;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}

.badge {
  @apply mx-1  bg-slate-200 rounded-sm font-semibold inline-block;
}
/* x-4 py-2 mr-2 mb-2 */
.pill {
  @apply bg-gray-200 px-4 py-2 mr-2 mt-2 text-gray-700 dark:text-gray-600  rounded font-semibold;
}
